*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins",  sans-serif;
}
body{
 
  min-height: 100vh;
  background:url(sean-pollock-PhYq704ffdA-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
  .content{
    display: flex;
    justify-content: center;
    align-items: center;

  }

  
.wrapper{
 
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255,255, 255 ,.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0,0, .2) ;
  color: white;
  border-radius: 10px;
  padding: 30px 40px;
}
.wrapper h1{
  font-size: 36px;
  text-align: center;
}
.wrapper .input-box{
  position: relative;
  width: 100%;
  height:50px ;

  margin:30px 0;
}
.input-box input{
  width:100% ;
  height:100%;
  background:transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255,255, .2);
  border-radius: 40px;
  color: white;
  padding: 20px 50px 20px;
}
.input-box input::placeholder{
  color: whitesmoke;

}
.input-box i{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
.wrapper .Remember-forgot{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}
.Remember-forgot label input{
  accent-color: white;
  margin-right: 5px;

}
.Remember-forgot a{
  color:white ;
  text-decoration: none;

}
.Remember-forgot a:hover{
  text-decoration: underline;
}
.wrapper .btn{
  width:100% ;
  height:50px ;

  background: white;
  border: none;
  outline:none ;
  border-radius: 40px;
  box-shadow: 0 0 10x black;
  cursor :pointer ;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}
.wrapper .Register-link{
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px ;
  
}
.Register-link p a{
  color: white;
  text-decoration:none ;
  font-weight: 600;
  padding-left: 2%;

}
.Register-link p a:hover{
  text-decoration:underline ;
 

}
.logo-container{
  display: flex;
  justify-content: center;
align-items: center;
width: 100%;
height: 10vh;
background-color:rgb(0, 0, 0);
margin-right: 100px;
border-radius: 40px;

}
.logo-container h1{
  max-width: 100%;
  max-height:200px ;
  height:auto ;
  width: auto;
  padding:20px ;
  border-radius: 10px;
  
}
.media  {
  width:100% ;
  height:50px ;
text-align: center;
 
  border: none;
  outline:none ;
  border-radius: 40px;
  box-shadow: 0 0 10x black;
 
  color: #333;
 
  
  
  
  justify-content:space-between ;
}
.media i{
  padding-top: 14px;
  cursor :pointer ;
  color: aliceblue;
   
 
  font-size:30px;
}
.wrapperbx bxs-wallet{
  font-size: 800px;
  color: blue;
}